@use "../utilities/" as *;
@use "../base/" as *;

.main-text {
  max-width: 1300px;
  display: block;
  margin: 0 auto;

  a {
    font-weight: bold;
    color: $font-color;
    text-decoration: underline;
  }

  p {
    font-family: $family-primary;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    color: $font-color;

    @include for-desktop {
      padding-left: 80px;
      padding-right: 80px;
    }

    @include for-tablet {
      font-size: 16px;
      line-height: 36px;
      padding-left: 50px;
      padding-right: 50px;
    }

    @include for-phone {
      font-size: 16px;
      line-height: 26px;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: -46px;
    }
  }

  p:first-of-type {
    margin-top: -167px;
    margin-bottom: 35px;

    @include for-desktop {
      margin-top: -145px;
    }

    @include for-tablet {
      margin-top: -70px;
    }
    @include for-phone {
      margin-top: -55px;
    }
  }

  span {
    font-weight: bold;
    text-decoration: underline;
  }
}
