@use "../utilities/" as *;
@use "../base/" as *;

.header {
  position: relative;

  &__logo {
    position: absolute;
    top: 70px;
    left: 310px;
    z-index: 1;

    @include for-desktop {
      top: 70px;
      left: 80px;
    }
    @include for-tablet {
      top: 40px;
      left: 50px;
      width: 60px;
      height: 60px;
    }
    @include for-phone {
      top: 10px;
      left: 30px;
      width: 50px;
      height: 50px;
    }
  }

  &__instafaktor-title {
    position: relative;
    bottom: 300px;
    left: 405px;

    @include for-widescreen {
      bottom: 200px;
      left: 288px;
    }

    @include for-desktop {
      bottom: 200px;
      left: 288px;
    }

    @include for-tablet {
      bottom: 113px;
      left: 170px;
    }

    @include for-phone {
      bottom: 70px;
      left: 30px;
    }
  }

  &__dora-predojevic-title {
    position: relative;
    bottom: 300px;
    left: 0;

    @include for-widescreen {
      bottom: 200px;
    }

    @include for-desktop {
      bottom: 200px;
    }

    @include for-tablet {
      bottom: 124px;
    }

    @include for-phone {
      bottom: 144px;
      left: 110px;
    }

    @media (min-width: 768px) and (max-width: 781px) {
      bottom: 245px;
      left: 325px;
    }

    @media (min-width: 750px) and (max-width: 767px) {
      bottom: 172px;
    }

    @media (min-width: 425px) and (max-width: 749px) {
      bottom: 74px;
      left: -62px;
    }

    @include for-small-phone {
      bottom: 144px;
      left: 110px;
    }
  }
}
