@use "../utilities/" as *;
@use "../base/" as *;

// BLUE SECTION
.blue-section1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    ". video video" ". video video" ". video video" "text1 video video" "left-quote video video"
    "text2 video video" "right-quote video video" "text3 video video" ". video video" ". video video";
  margin-top: 120px;

  @include for-tablet {
    grid-template-columns: auto 300px;
    grid-template-areas:
      ". video video video" "text1 video  video video" "left-quote video video video"
      "text2 video video video" "right-quote video video video" "text3 text3 text3 text3";
  }

  @include for-phone {
    grid-template-columns: auto;
    grid-template-areas:
      "video " "text1" "left-quote"
      "text2" "right-quote" "text3";
  }

  &__video {
    grid-area: video;
  }

  p {
    font-family: $family-primary;
    font-size: 20px;
    line-height: 40px;

    @include for-tablet {
      font-size: 16px;
      line-height: 26px;
      margin-top: 20px;
    }
    @include for-phone {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__text1,
  &__text3 {
    padding-right: 70px;
    padding-left: 310px;

    @include for-widescreen {
      padding-left: 100px;
    }

    @include for-desktop {
      padding-left: 80px;
    }

    @include for-tablet {
      padding-left: 50px;
    }

    @include for-phone {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__text1 {
    grid-area: text1;
    margin-top: 30px;
  }

  &__text2 {
    grid-area: text2;
    font-style: italic;
    padding-right: 90px;
    padding-left: 340px;
    margin-bottom: 0;

    @include for-widescreen {
      padding-left: 123px;
    }

    @include for-desktop {
      padding-left: 100px;
    }

    @include for-tablet {
      padding-left: 55px;
      padding-right: 15px;
    }

    @include for-phone {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__right-quote,
  &__left-quote {
    width: 36px;
    height: 27px;

    @include for-tablet {
      width: 20px;
      height: 14px;
    }
    @include for-phone {
      width: 20px;
      height: 14px;
    }
  }

  &__left-quote {
    grid-area: left-quote;
    margin: 50px auto 10px 316px;

    @include for-widescreen {
      margin: 50px auto 10px 63px;
    }
    @include for-desktop {
      margin: 50px auto 10px 63px;
    }

    @include for-tablet {
      margin: 65px auto 6px 43px;
    }

    @include for-phone {
      margin: 71px auto 10px 35px;
    }
  }

  &__right-quote {
    grid-area: right-quote;
    display: block;
    margin-left: auto;
    margin-right: 50px;
  }

  &__text3 {
    grid-area: text3;
  }

  &__jednostavno-mocno {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: 331px;

    @include for-fullhd {
      top: -90px;
    }

    @include for-widescreen {
      top: -90px;
    }

    @include for-desktop {
      top: -84px;
      left: 153px;
    }

    @include for-tablet {
      top: -84px;
      left: 153px;
    }
    @include for-phone {
      top: -40px;
      left: 0;
    }
  }

  &__neodoljivi-spoj {
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 495px;

    @include for-fullhd {
      top: 36px;
      left: 495px;
    }

    @include for-widescreen {
      top: 36px;
      left: 495px;
    }

    @include for-desktop {
      top: 12px;
      left: 445px;
    }

    @include for-tablet {
      top: -50px;
      left: 243px;
    }

    @include for-phone {
      top: 6px;
      left: 0;
    }
  }

  &__circle {
    position: absolute;
    z-index: -2;
    bottom: -139px;
    left: 500px;
    width: 864px;
    height: 864px;

    @include for-widescreen {
      width: 712px;
      height: 712px;
      bottom: 242px;
      left: 196px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      bottom: 191px;
      left: 90px;
    }

    @include for-phone {
      width: 250px;
      height: 250px;
      top: 568px;
      left: 212px;
    }

    @include for-small-phone {
      width: 250px;
      height: 250px;
      top: 472px;
      left: 177px;
    }
  }
}

.blue-section2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "video video photo" "video video ." "video video text" "video video ." "video video ."
    "video video ." "video video ." "video video ." "video video ." " video video .";
  margin-top: 65px;

  @include for-phone {
    grid-template-columns: auto auto;
    grid-template-areas:
      "video photo" "video ." "video ."
      "video ." "video ." "text text";
    margin-top: 30px;
  }

  &__video {
    grid-area: video;
  }
  &__photo {
    grid-area: photo;
    padding-left: 65px;

    @include for-phone {
      padding-left: 20px;
    }
  }

  &__text {
    grid-area: text;
    max-width: 550px;
    padding-left: 65px;

    @include for-tablet {
      padding-right: 50px;
    }

    @include for-phone {
      padding-right: 30px;
      padding-left: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: $family-primary;
    font-size: 16px;
    line-height: 30px;

    @include for-tablet {
      font-size: 13px;
      line-height: 22px;
    }

    @include for-phone {
      font-size: 13px;
      line-height: 22px;
    }
  }

  &__circle {
    position: absolute;
    z-index: -2;
    right: 200px;
    bottom: -295px;
    width: 864px;
    height: 864px;

    @include for-widescreen {
      width: 712px;
      height: 712px;
      bottom: -190px;
      left: 310px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      bottom: -235px;
      left: 180px;
    }

    @include for-phone {
      width: 180px;
      height: 180px;
      bottom: -78px;
      left: 92px;
    }
  }

  &__photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

    @include for-phone {
      margin-top: 0;
    }
  }
}

// YELLOW SECTION

.yellow-section1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    ". video video" ". video video" "text1 video video" "left-quote video video" "text2  video video"
    "right-quote video video" "text3  video video" ". video video";
  margin-top: 120px;

  @include for-widescreen {
    margin-top: 150px;
  }

  @include for-tablet {
    grid-template-columns: auto 300px;
    grid-template-areas:
      ". video video video" "text1 video  video video" "left-quote video video video"
      "text2 video video video" "right-quote video video video" "text3 text3 text3 text3";
  }

  @include for-phone {
    grid-template-columns: auto;
    grid-template-areas:
      "video " "text1" "left-quote"
      "text2" "right-quote" "text3";
  }

  &__video {
    grid-area: video;
  }

  p {
    font-family: $family-primary;
    font-size: 20px;
    line-height: 40px;

    @include for-tablet {
      font-size: 16px;
      line-height: 26px;
      margin-top: 20px;
    }
    @include for-phone {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__text1,
  &__text3 {
    padding-right: 70px;
    padding-left: 310px;

    @include for-widescreen {
      padding-left: 100px;
    }

    @include for-desktop {
      padding-left: 80px;
    }

    @include for-tablet {
      padding-left: 50px;
    }

    @include for-phone {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__text1 {
    grid-area: text1;
    margin-top: 60px;

    @include for-fullhd {
      margin-top: 60px;
    }

    @include for-desktop {
      margin-top: 80px;
    }
  }

  &__text2 {
    grid-area: text2;
    font-style: italic;
    padding-right: 90px;
    padding-left: 340px;
    margin-bottom: 0;

    @include for-widescreen {
      padding-left: 123px;
    }

    @include for-desktop {
      padding-left: 100px;
    }

    @include for-tablet {
      padding-left: 55px;
      padding-right: 15px;
    }

    @include for-phone {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__right-quote,
  &__left-quote {
    width: 36px;
    height: 27px;

    @include for-tablet {
      width: 20px;
      height: 14px;
    }
    @include for-phone {
      width: 20px;
      height: 14px;
    }
  }

  &__left-quote {
    grid-area: left-quote;
    margin: 50px auto 10px 316px;

    @include for-widescreen {
      margin: 50px auto 10px 63px;
    }
    @include for-desktop {
      margin: 50px auto 10px 63px;
    }

    @include for-tablet {
      margin: 65px auto 6px 43px;
    }

    @include for-phone {
      margin: 71px auto 10px 35px;
    }
  }

  &__right-quote {
    grid-area: right-quote;
    display: block;
    margin-left: auto;
    margin-right: 50px;
  }

  &__text3 {
    grid-area: text3;
  }

  &__sarmantno {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: 331px;

    @include for-fullhd {
      top: -90px;
    }

    @include for-widescreen {
      top: -90px;
    }

    @include for-desktop {
      top: -84px;
      left: 153px;
    }

    @include for-tablet {
      top: -84px;
      left: 153px;
    }
    @include for-phone {
      top: -40px;
      left: 0;
    }
  }

  &__botanicki {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 495px;

    @include for-fullhd {
      top: -48px;
      left: 554px;
    }

    @include for-widescreen {
      top: -35px;
      left: 495px;
    }

    @include for-desktop {
      top: -24px;
      left: 322px;
    }

    @media (min-width: 1025px) and (max-width: 1200px) {
      top: 23px;
      left: 322px;
    }

    @include for-tablet {
      top: -24px;
      left: 243px;
    }

    @include for-phone {
      top: 6px;
      left: 0;
    }
  }

  &__circle {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 500px;
    width: 864px;
    height: 864px;

    @include for-widescreen {
      width: 712px;
      height: 712px;
      bottom: 242px;
      left: 196px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      bottom: 191px;
      left: 90px;
    }

    @include for-phone {
      width: 250px;
      height: 250px;
      top: 568px;
      left: 212px;
    }

    @include for-small-phone {
      width: 250px;
      height: 250px;
      top: 472px;
      left: -60px;
    }
  }
}

.yellow-section2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "video video photo" "video video ." "video video text" "video video ." "video video ."
    "video video ." "video video ." "video video ." "video video ." " video video .";
  margin-top: 65px;

  @include for-phone {
    grid-template-columns: auto auto;
    grid-template-areas:
      "video photo" "video ." "video ."
      "video ." "video ." "text text";
    margin-top: 30px;
  }

  &__video {
    grid-area: video;
  }

  &__photo {
    grid-area: photo;
    padding-left: 65px;

    @include for-phone {
      padding-left: 20px;
    }
  }

  &__text {
    grid-area: text;
    max-width: 550px;
    padding-left: 65px;

    @include for-tablet {
      padding-right: 50px;
    }

    @include for-phone {
      padding-right: 30px;
      padding-left: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: $family-primary;
    font-size: 16px;
    line-height: 30px;

    @include for-tablet {
      font-size: 13px;
      line-height: 22px;
    }

    @include for-phone {
      font-size: 13px;
      line-height: 22px;
    }
  }

  &__circle {
    position: absolute;
    z-index: -2;
    right: -235px;
    bottom: -337px;
    width: 864px;
    height: 864px;

    @include for-widescreen {
      width: 712px;
      height: 712px;
    }

    @include for-desktop {
      width: 452px;
      height: 452px;
      right: -21px;
      bottom: -235px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      right: -90px;
      bottom: -235px;
    }

    @include for-phone {
      width: 180px;
      height: 180px;
      right: -44px;
      bottom: -53px;
    }
  }
  &__circle2 {
    position: absolute;
    z-index: -2;
    right: 477px;
    width: 400px;
    height: 400px;

    @include for-widescreen {
      width: 400px;
      height: 400px;
      right: 329px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      right: 106px;
    }

    @include for-phone {
      width: 180px;
      height: 180px;
      left: 92px;
    }
  }

  &__photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

    @include for-phone {
      margin-top: 0;
    }
  }
}

// PINK SECTION

.pink-section1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "video video ." "video video ." "video video text1" "video video left-quote" "video video text2 "
    "video video right-quote" "video video ." "video video .";
  margin-top: 120px;

  @include for-widescreen {
    margin-top: 150px;
  }

  @include for-tablet {
    grid-template-columns: auto 300px;
    grid-template-areas:
      "video text1" "video  ." "left-quote ."
      "text2 text2" "right-quote .";
  }

  @include for-phone {
    grid-template-columns: auto;
    grid-template-areas:
      "video " "text1" "left-quote"
      "text2" "right-quote" "text3";
  }

  &__video {
    grid-area: video;
  }

  p {
    font-family: $family-primary;
    font-size: 20px;
    line-height: 40px;

    @include for-tablet {
      font-size: 16px;
      line-height: 26px;
    }
    @include for-phone {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__text1,
  &__text3 {
    padding-right: 310px;
    padding-left: 70px;

    @include for-widescreen {
      padding-right: 100px;
    }

    @include for-desktop {
      padding-right: 80px;
    }

    @include for-tablet {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include for-phone {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__text1 {
    grid-area: text1;
    margin-top: 60px;

    @include for-fullhd {
      margin-top: 60px;
    }

    @include for-desktop {
      margin-top: 80px;
    }

    @include for-tablet {
      margin-top: 200px;
    }
  }

  &__text2 {
    grid-area: text2;
    font-style: italic;
    padding-left: 90px;
    padding-right: 340px;
    margin-bottom: 0;

    @include for-widescreen {
      padding-right: 123px;
    }

    @include for-desktop {
      padding-right: 100px;
    }

    @include for-tablet {
      padding-right: 70px;
      padding-left: 70px;
      margin-top: -50px;
    }

    @include for-phone {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__right-quote,
  &__left-quote {
    width: 36px;
    height: 27px;

    @include for-tablet {
      width: 20px;
      height: 14px;
    }
    @include for-phone {
      width: 20px;
      height: 14px;
    }
  }

  &__left-quote {
    grid-area: left-quote;
    display: block;
    margin-right: auto;
    margin-left: 73px;
    margin-top: 50px;

    @include for-tablet {
      margin-top: 28px;
      margin-right: auto;
      margin-left: 54px;
    }

    @include for-phone {
      margin-top: 67px;
      margin-right: auto;
      margin-left: 32px;
    }
  }

  &__right-quote {
    grid-area: right-quote;
    margin: 50px 316px 10px auto;

    @include for-widescreen {
      margin: 50px 63px 10px auto;
    }
    @include for-desktop {
      margin: 50px 63px 10px auto;
    }

    @include for-tablet {
      margin: 7px -246px 6px auto;
    }

    @include for-phone {
      margin: 0 35px 10px auto;
    }
  }

  &__text3 {
    grid-area: text3;
  }

  &__odvazno {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: 331px;

    @include for-fullhd {
      top: -90px;
    }

    @include for-widescreen {
      top: -90px;
    }

    @include for-desktop {
      top: -84px;
      left: 153px;
    }

    @include for-tablet {
      top: -84px;
      left: 153px;
    }
    @include for-phone {
      top: -40px;
      left: 0;
    }
  }

  &__petrinjska {
    position: absolute;
    z-index: 2;
    top: 167px;
    left: 495px;

    @include for-fullhd {
      top: -48px;
      left: 554px;
    }

    @include for-widescreen {
      top: -35px;
      left: 495px;
    }

    @include for-desktop {
      top: 119px;
      left: 322px;
    }

    @media (min-width: 1025px) and (max-width: 1200px) {
      top: 23px;
      left: 322px;
    }

    @include for-tablet {
      top: 15px;
      left: 243px;
    }

    @include for-phone {
      top: 23px;
      left: 71px;
    }

    @include for-small-phone {
      top: 12px;
      left: 0;
    }
  }

  &__circle {
    position: absolute;
    right: 211px;
    top: 0;

    @include for-widescreen {
      width: 297px;
      height: 297px;
      top: -20px;
      right: 0;
      bottom: 242px;
      z-index: -2;
    }

    @include for-tablet {
      width: 189px;
      height: 189px;
      right: 56px;
      bottom: 191px;
    }

    @include for-phone {
      width: 180px;
      height: 180px;
      top: -86px;
      left: 212px;
      z-index: -2;
    }

    @include for-small-phone {
      width: 180px;
      height: 180px;
      top: -86px;
      left: 170px;
      z-index: -2;
    }
  }
}

.pink-section2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "photo video video" ". video video" "text video video" ". video video" ". video video"
    ". video video" ". video video" ". video video" ". video video" ". video video";
  margin-top: 65px;

  @include for-tablet {
    margin-top: -35px;
  }

  @include for-phone {
    grid-template-columns: auto auto;
    grid-template-areas: "photo video" "text text";
    margin-top: -125px;
  }

  &__video {
    grid-area: video;

    @include for-desktop {
      padding-left: 55px;
    }
  }

  &__photo {
    grid-area: photo;
    padding-left: 65px;

    @include for-phone {
      padding-right: 20px;
      padding-left: 0;
    }
  }

  &__text {
    grid-area: text;
    max-width: 550px;
    padding-left: 65px;

    @include for-tablet {
      padding-right: 50px;
    }

    @include for-phone {
      padding-right: 30px;
      padding-left: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: $family-primary;
    font-size: 16px;
    line-height: 30px;

    @include for-tablet {
      font-size: 13px;
      line-height: 22px;
    }

    @include for-phone {
      font-size: 13px;
      line-height: 22px;
    }
  }

  &__circle {
    position: absolute;
    z-index: -2;
    left: -235px;
    bottom: -337px;

    @include for-widescreen {
      width: 712px;
      height: 712px;
    }

    @include for-desktop {
      width: 452px;
      height: 452px;
      right: -21px;
      bottom: -235px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      right: -90px;
      bottom: -235px;
    }

    @include for-phone {
      width: 250px;
      height: 250px;
      bottom: -125px;
      left: -58px;
    }
  }

  &__circle2 {
    position: absolute;
    z-index: -2;
    right: 477px;
    width: 400px;
    height: 400px;

    @include for-widescreen {
      width: 400px;
      height: 400px;
      right: 329px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      right: 106px;
    }

    @include for-phone {
      width: 180px;
      height: 180px;
      left: 92px;
    }
  }

  &__circle3 {
    position: absolute;
    z-index: -2;
    top: -324px;
    right: 532px;

    @include for-widescreen {
      width: 711px;
      height: 711px;
      right: 329px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      top: -490px;
      right: 106px;
    }

    @include for-phone {
      width: 250px;
      height: 250px;
      left: 90px;
      top: -842px;
    }
    @include for-small-phone {
      width: 250px;
      height: 250px;
      left: 54px;
      top: -1008px;
    }
  }

  &__photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

    @include for-phone {
      margin-top: 0;
    }
  }
}

// SECTION GREEN

.green-section1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "video video ." "video video ." "video video left-quote" "video video text2" "video video right-quote"
    "video video text1" "video video ." "video video .";
  margin-top: 120px;

  @include for-widescreen {
    margin-top: 150px;
  }

  @include for-tablet {
    grid-template-columns: auto 300px;
    grid-template-areas:
      "video text1" "video  ." "left-quote ."
      "text2 text2" "right-quote .";
  }

  @include for-phone {
    grid-template-columns: auto;
    grid-template-areas:
      "video " "text1" "left-quote"
      "text2" "right-quote" "text3";
  }

  &__video {
    grid-area: video;
  }

  p {
    font-family: $family-primary;
    font-size: 20px;
    line-height: 40px;

    @include for-tablet {
      font-size: 16px;
      line-height: 26px;
    }
    @include for-phone {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__text1,
  &__text3 {
    padding-right: 310px;
    padding-left: 70px;

    @include for-widescreen {
      padding-right: 100px;
    }

    @include for-desktop {
      padding-right: 80px;
    }

    @include for-tablet {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include for-phone {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__text1 {
    grid-area: text1;

    // @include for-fullhd {
    // }

    // @include for-desktop {
    // }

    // @include for-tablet {
    // }
  }

  &__text2 {
    grid-area: text2;
    font-style: italic;
    padding-left: 90px;
    padding-right: 340px;

    @include for-widescreen {
      padding-right: 123px;
    }

    @include for-desktop {
      padding-right: 100px;
    }

    @include for-tablet {
      padding-right: 70px;
      padding-left: 70px;
      margin-top: -50px;
    }

    @include for-phone {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__right-quote,
  &__left-quote {
    width: 36px;
    height: 27px;

    @include for-tablet {
      width: 20px;
      height: 14px;
    }
    @include for-phone {
      width: 20px;
      height: 14px;
    }
  }

  &__left-quote {
    grid-area: left-quote;
    display: block;
    margin-right: auto;
    margin-left: 73px;
    margin-top: 50px;

    @include for-tablet {
      margin-top: 28px;
      margin-right: auto;
      margin-left: 54px;
    }

    @include for-phone {
      margin-top: 67px;
      margin-right: auto;
      margin-left: 32px;
    }
  }

  &__right-quote {
    grid-area: right-quote;
    margin: 0 316px 10px auto;

    @include for-widescreen {
      margin: 50px 63px 10px auto;
    }
    @include for-desktop {
      margin: 50px 63px 10px auto;
    }

    @include for-tablet {
      margin: 7px -246px 6px auto;
    }

    @include for-phone {
      margin: 0 35px 10px auto;
    }
  }

  &__lezerno {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: 331px;

    @include for-fullhd {
      top: -90px;
    }

    @include for-widescreen {
      top: -90px;
    }

    @include for-desktop {
      top: -84px;
      left: 153px;
    }

    @include for-tablet {
      top: -84px;
      left: 153px;
    }
    @include for-phone {
      top: -40px;
      left: 0;
    }
  }

  &__kava {
    position: absolute;
    z-index: 2;
    top: 49px;
    left: 495px;

    @include for-fullhd {
      top: -48px;
      left: 554px;
    }

    @include for-widescreen {
      top: -35px;
      left: 495px;
    }

    @include for-desktop {
      top: 119px;
      left: 322px;
    }

    @media (min-width: 1025px) and (max-width: 1200px) {
      top: 23px;
      left: 322px;
    }

    @include for-tablet {
      top: 15px;
      left: 243px;
    }

    @include for-phone {
      top: 23px;
      left: 71px;
    }

    @include for-small-phone {
      top: 12px;
      left: 0;
    }
  }

  &__circle {
    position: absolute;
    right: 505px;
    top: 30px;
    z-index: -2;

    @include for-widescreen {
      width: 297px;
      height: 297px;
      top: -20px;
      right: 0;
      bottom: 242px;
      z-index: -2;
    }

    @include for-tablet {
      width: 189px;
      height: 189px;
      right: 56px;
      bottom: 191px;
    }

    @include for-phone {
      width: 180px;
      height: 180px;
      top: -86px;
      left: 212px;
      z-index: -2;
    }

    @include for-small-phone {
      width: 180px;
      height: 180px;
      top: -86px;
      left: 170px;
      z-index: -2;
    }
  }
}

.green-section2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "photo video video" ". video video" "text video video" ". video video" ". video video"
    ". video video" ". video video" ". video video" ". video video" ". video video";
  margin-top: 65px;

  @include for-tablet {
    margin-top: -35px;
  }

  @include for-phone {
    grid-template-columns: auto auto;
    grid-template-areas: "photo video" "text text";
    margin-top: -125px;
  }

  &__video {
    grid-area: video;

    @include for-desktop {
      padding-left: 55px;
    }
  }

  &__photo {
    grid-area: photo;
    padding-left: 65px;

    @include for-phone {
      padding-right: 20px;
      padding-left: 0;
    }
  }

  &__text {
    grid-area: text;
    max-width: 550px;
    padding-left: 65px;

    @include for-tablet {
      padding-right: 50px;
    }

    @include for-phone {
      padding-right: 30px;
      padding-left: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: $family-primary;
    font-size: 16px;
    line-height: 30px;

    @include for-tablet {
      font-size: 13px;
      line-height: 22px;
    }

    @include for-phone {
      font-size: 13px;
      line-height: 22px;
    }
  }

  &__circle {
    position: absolute;
    z-index: -2;
    left: -235px;
    bottom: -337px;

    @include for-widescreen {
      width: 712px;
      height: 712px;
    }

    @include for-desktop {
      width: 452px;
      height: 452px;
      right: -21px;
      bottom: -235px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      right: -90px;
      bottom: -235px;
    }

    @include for-phone {
      width: 250px;
      height: 250px;
      bottom: -125px;
      left: -58px;
    }
  }

  &__circle2 {
    position: absolute;
    z-index: -2;
    right: 477px;
    width: 400px;
    height: 400px;

    @include for-widescreen {
      width: 400px;
      height: 400px;
      right: 329px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      right: 106px;
    }

    @include for-phone {
      width: 180px;
      height: 180px;
      left: 92px;
    }
  }

  &__circle3 {
    position: absolute;
    z-index: -2;
    width: 400px;
    height: 400px;
    top: -287px;
    left: 555px;

    @include for-widescreen {
      width: 400px;
      height: 400px;
      right: 329px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      top: -490px;
      right: 106px;
    }

    @include for-phone {
      width: 250px;
      height: 250px;
      left: 90px;
      top: -842px;
    }
    @include for-small-phone {
      width: 250px;
      height: 250px;
      left: 54px;
      top: -1008px;
    }
  }

  &__photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

    @include for-phone {
      margin-top: 0;
    }
  }
}

.last-part {
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  margin-top: 310px;
  color: $font-color;

  .text1 {
    font-family: $family-primary;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 200px;
  }
  a {
    text-decoration: underline;
    color: $font-color;
    font-weight: bold;
  }
  .text2,
  .text3 {
    font-family: $family-primary;
    font-size: 16px;
    line-height: 30px;
  }

  .text2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .text3 {
    letter-spacing: 0.48px;
    margin-bottom: 200px;
    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
