@use "../utilities/" as *;
@use "../base/" as *;

// .blue-section {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 120px;

//   p {
//     font-family: $family-primary;
//     font-size: 20px;
//     line-height: 40px;
//     max-width: 550px;

//     @include for-tablet {
//       font-size: 16px;
//       line-height: 26px;
//     }
//   }

//   &__text {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin-right: auto;
//     padding-right: 70px;
//     padding-left: 310px;

//     @include for-desktop {
//       padding-left: 80px;
//     }

//     @include for-tablet {
//       padding-left: 70px;
//     }
//   }

//   &__text1 {
//     margin-bottom: 50px;
//   }

//   &__text2 {
//     font-style: italic;
//     padding-right: 20px;
//     padding-left: 30px;
//     margin-bottom: 0;

//     @include for-tablet {
//       padding-left: 10px;
//     }
//   }

//   &__right-quote,
//   &__left-quote {
//     width: 36px;
//     height: 27px;

//     @include for-tablet {
//       width: 20px;
//       height: 14px;
//     }
//   }

//   &__left-quote {
//     margin-bottom: 10px;
//   }

//   &__right-quote {
//     align-self: flex-end;
//   }

//   &__text3 {
//     margin-top: 50px;

//     @include for-tablet {
//       display: none;
//     }
//   }
// }
.blue-section1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    ". video video" ". video video" ". video video" "text1 video video" "left-quote video video"
    "text2 video video" "right-quote video video" "text3 video video" ". video video" ". video video";
  margin-top: 120px;

  @include for-tablet {
    grid-template-columns: auto 300px;
    grid-template-areas:
      ". video video video" "text1 video  video video" "left-quote video video video"
      "text2 video video video" "right-quote video video video" "text3 text3 text3 text3";
  }

  @include for-phone {
    grid-template-columns: auto;
    grid-template-areas:
      "video " "text1" "left-quote"
      "text2" "right-quote" "text3";
  }

  &__video {
    grid-area: video;
  }

  p {
    font-family: $family-primary;
    font-size: 20px;
    line-height: 40px;

    @include for-tablet {
      font-size: 16px;
      line-height: 26px;
      margin-top: 20px;
    }
    @include for-phone {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__text1,
  &__text3 {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin-right: auto;
    padding-right: 70px;
    padding-left: 310px;

    @include for-widescreen {
      padding-left: 100px;
    }

    @include for-desktop {
      padding-left: 80px;
    }

    @include for-tablet {
      padding-left: 50px;
    }

    @include for-phone {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__text1 {
    grid-area: text1;
    margin-top: 30px;
  }

  &__text2 {
    grid-area: text2;
    font-style: italic;
    padding-right: 90px;
    padding-left: 340px;
    margin-bottom: 0;

    @include for-widescreen {
      padding-left: 123px;
    }

    @include for-desktop {
      padding-left: 100px;
    }

    @include for-tablet {
      padding-left: 55px;
      padding-right: 15px;
    }

    @include for-phone {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__right-quote,
  &__left-quote {
    width: 36px;
    height: 27px;

    @include for-tablet {
      width: 20px;
      height: 14px;
    }
    @include for-phone {
      width: 20px;
      height: 14px;
    }
  }

  &__left-quote {
    grid-area: left-quote;
    margin: 50px auto 10px 316px;

    @include for-widescreen {
      margin: 50px auto 10px 63px;
    }
    @include for-desktop {
      margin: 50px auto 10px 63px;
    }

    @include for-tablet {
      margin: 65px auto 6px 43px;
    }

    @include for-phone {
      margin: 71px auto 10px 35px;
    }
  }

  &__right-quote {
    grid-area: right-quote;
    display: block;
    margin-left: auto;
    margin-right: 50px;
  }

  &__text3 {
    grid-area: text3;
  }

  &__jednostavno-mocno {
    position: absolute;
    z-index: 2;
    top: -50px;
    left: 331px;

    @include for-fullhd {
      top: -90px;
    }

    @include for-widescreen {
      top: -90px;
    }

    @include for-desktop {
      top: -84px;
      left: 153px;
    }

    @include for-tablet {
      top: -84px;
      left: 153px;
    }
    @include for-phone {
      top: -40px;
      left: 0;
    }
  }

  &__neodoljivi-spoj {
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 495px;

    @include for-fullhd {
      top: 36px;
      left: 495px;
    }

    @include for-widescreen {
      top: 36px;
      left: 495px;
    }

    @include for-desktop {
      top: 12px;
      left: 445px;
    }

    @include for-tablet {
      top: -50px;
      left: 243px;
    }

    @include for-phone {
      top: 6px;
      left: 0;
    }
  }

  &__circle {
    position: absolute;
    z-index: -2;
    bottom: -139px;
    left: 500px;
    width: 864px;
    height: 864px;

    @include for-widescreen {
      width: 712px;
      height: 712px;
      bottom: 242px;
      left: 196px;
    }

    @include for-tablet {
      width: 369px;
      height: 369px;
      bottom: 191px;
      left: 90px;
    }

    @include for-phone {
      width: 250px;
      height: 250px;
      top: 568px;
      left: 212px;
    }

    @include for-small-phone {
      width: 250px;
      height: 250px;
      top: 472px;
      left: 177px;
    }
  }
}

.blue-section2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    ". video video" ". video video" ". video video" "text video video" "left-quote video video"
    "text video video" "right-quote video video" "text3 video video" ". video video" ". video video";

  &__video {
    grid-area: video;
  }

  &__photo {
    grid-area: photo;
  }

  &__text {
    grid-area: text;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }
}
